<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="backup" type="Ceres.BackupConfiguration, Ceres"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <backup>
    <databases>
      <add 
        backupDirectory="C:\temp\backups" 
        instance="(local)" 
        serverType="SqlServer2008" 
        database="xxxxxx" 
        username="xxxxx" 
        password="xxxxxx"
        deleteOlderThenDays="7"
        ftpBackup="false"
        ftpHostname=""
        ftpUsername=""
        ftpPassword=""
      />
     </databases>
    <folders>
      <add
        backupDirectory="C:\temp\backups"
        folderPath="C:\temp\somedirectorytobackup\"
        name="TestHardcopies"
        deleteOlderThenDays="1"
        ftpBackup="false"
        ftpHostname=""
        ftpUsername=""
        ftpPassword=""
        />
    </folders>
  </backup>
</configuration>
